/Election.class
/Candidate.class
/Vote.class
/Ballot.class
/AlternativeElection.class
/AlternativeElection$Position.class
/Position.class
/ElectionScreen.class
/CandidatePanel.class
/BarChart.class
/VisualBallot.class
/ActionButtons.class
/Setup.class
/Setup$AlternativeElection.class
/backend.class
/VoterInfo.class
